*{
    margin: 0;
    padding: 0;
}
/* work sans font from google font */
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
/* Header Section Start */
header{
    background: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 40px;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}
nav a{
    text-decoration: none;
}
.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.banner{
align-items: center;

}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    margin-top: 20px;
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.btn{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    border: none;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.banner-img{
    margin-top: 20px;
    width: 100%;
}
/* Header Section End */

/* Feature Section Start */
.feature-container{
    display: flex;
    align-items: center;
    gap: 40px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.feature-title{
    color: var(--dark-03, #727272);
    font-size: 2.8rem;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
/* Feature Section Start */

.feature-card-container{
    display: flex;
    margin-top: 150px;
    gap: 40px;
}
.feature-card-container-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card-container-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-card-container-description{
    color: #727272;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 400;
    line-height: 26px;
}
.feature-card{
    border-radius: 8px;
    background: #FFF;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-card-title{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}
.feature-card-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.feature-card-image{
    height: 80%;
    margin-left: 90px;
}
.ten-years-card{
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    position: relative;
    bottom: 100px;
}
.ten-year-title{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.ten-year-description{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}







@media screen and (max-width: 576px) {
    nav, nav ul, {
        flex-direction: column;
    }
    .feature-container{
        flex-direction: column;
    }
    nav li{
        margin-left: 20px;
        padding: 20px;
    }
    .banner-content{
        padding: 20px;
    }

}



@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, nav ul{
        flex-direction: column;
    }
    nav li{
        margin-left: 20px;
        padding: 10px;
    }
    .banner-content{
    padding: 20px;
    }
    
}